$primary-h: 0;
$primary-s: 0;
$primary-b: 20;

$primary: #060683;
$header-slim-bg-color: #262626;

$color-text-primary-hover: hsl(292, 93%, 23%);
$color-text-primary-active: hsl(280, 91%, 41%);
$color-text-accent: #060683;
$color-text-secondary: #4d3131;

$overlay-bg-color: rgba(14, 6, 73, 0.85);

$secondary: #060683;
$tag-bg-color: #040404;
$hero-bg-color: #FBF9FB;

@mixin multiline-ellipsis($lines: 3) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@for $i from 1 through 10 {
  .multiline-ellipsis-#{$i} {
    @include multiline-ellipsis($i);
  }
}
