$primary-h: 0;
$primary-s: 0;
$primary-b: 20;

$primary: #333333;

$header-slim-bg-color: #262626;
$color-text-primary-hover: hsl(0, 0%, 20%);
$color-text-primary-active: hsl(0, 0%, 20%);
$color-background-primary-lighter: hsl(0, 0%, 20%);

// CSS variables
:root {
  --bs-link-hover-color: #{$color-text-primary-hover};
}

@import "bootstrap-italia/src/scss/bootstrap-italia";
