---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import PageBlocks from "../components/PageBlocks.astro";
import BreadCrumbs from "../components/BreadCrumbs.astro";

export async function getStaticPaths() {
  const pages = await getCollection("pages");
  console.log(pages.map((i) => i.data.title));

  return pages
    .filter((i) => i.data.title !== "home")
    .map((page) => {
      let slug = page.id;
      return {
        params: {
          slug,
        },
        props: { page },
      };
    });
}

const { slug } = Astro.params;
const { page } = Astro.props;

const blocks = page.data.blocks;
const links = blocks.filter((b: any) => b.linked);
---

<Layout>
  <div class='container my-5'>
    <BreadCrumbs path={[slug]}/>
    <h1>{page.data.title}</h1>
    <small>updated on: {page.data.date}</small>
  </div>
    <PageBlocks blocks={blocks} links={links} />
</Layout>
