---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import PageBlocks from "../components/PageBlocks.astro";
import CardHorizontal from "../components/CardHorizontal.astro";
import ImgCard from "../components/ImgCard.astro";
import Hero from "../components/Hero.astro";
import CardNews from "../components/CardNews.astro";

// Get all entries from a collection.
// Requires the name of the collection as an argument.
const allNews = await getCollection("news");
const allEvents = await getCollection("events");
const allWorks = await getCollection("works");
const allPages = await getCollection("pages");
const home = allPages.find((i) => i.id === "home");

const hero = home?.data.blocks.find((b: any) => b.type === "hero");
const blocks = home?.data.blocks.filter((b: any) => b.type !== "hero");
const links = blocks?.filter((b: any) => b.linked);

console.log("hero", hero);
---

<Layout>
  {hero && <Hero {...hero} />}
  <div class='container my-5'>
    <div>
      <h3>Le ultime notizie del Museo</h3>

      <div class='mt-5'>
        <div class='row row-cols-1 row-cols-lg-3 gx-lg-5 gy-5'>
          {
            allNews.map((item) => (
              <div class='col'>
                <CardNews {...item.data} />
              </div>
            ))
          }
        </div>
      </div>
    </div>

    <div class='my-5'>
      <h3>Events</h3>
      <div class='row'>
        {
          allEvents.map((item) => (
            <div class='row'>
              <CardHorizontal {...item.data} />
            </div>
          ))
        }
      </div>
    </div>
    <div class='my-5'>
      <h3>Works</h3>
      <div class=''>
        <div class='row'>
          {
            allWorks.map((item) => (
              <div class='col'>
                <ImgCard {...item.data} />
              </div>
            ))
          }
        </div>
      </div>
      <div class='my-5'>
        <PageBlocks blocks={blocks} links={links} />
      </div>
    </div>
  </div>
</Layout>
