---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import BreadCrumbs from "../../components/BreadCrumbs.astro";
import CardNews from "../../components/CardNews.astro";
import Hero from "../../components/Hero.astro";

const items = await getCollection("news");
---

<Layout>
  <div class='container my-2'>
    <BreadCrumbs path={["news"]} />
  </div>
  <Hero title={"Notizie"} />
  <div class='container contents'>
    <div class='mt-5'>
      <div class='row row-cols-1 row-cols-lg-3 gx-lg-5 gy-5'>
        {
          items.map((item) => (
            <div class='col'>
              <CardNews {...item.data} slug={item.id} />
            </div>
          ))
        }
      </div>
    </div>
  </div>
  <!-- <pre>{JSON.stringify(item,null,2)}</pre> -->
</Layout>
