---
const props = Astro.props;
console.log("hero", props);
const { image, title, text, action } = props;
---

<section class='myhero'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <div class=''>
          <h1>{title}</h1>
          <p class='d-none d-lg-block'>
            {text}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- - overlay-->
  <div class='bg-overlay'></div>
</section>
<style lang='scss'>
@import url("src/styles/variables.scss");
.myhero {
    position: relative;
    width: 100%;
    padding: 1.5rem auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .myhero h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
  }
  .myhero p {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 1rem;
  }
  .myhero .container {
    position: relative;
    z-index: 1;
  }
  .myhero .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $secondary;
    background-image: url("src/assets/llleaves.svg");
    background-repeat: repeat-x;
    background-size: cover;
    z-index: 0;
  }
</style>
