---
const { image, title, link, alt } = Astro.props;
---

<div class='card-wrapper'>
  <div class='card card-img no-after'>
    {
      image && (
        <div class='img-responsive-wrapper'>
          <div class='img-responsive'>
            <figure class='img-wrapper'>
              <img src={image} alt={alt} width='250' height='100' />
            </figure>
          </div>
        </div>
      )
    }
    <div class='card-body'>
      <h3 class='card-title h5'>
        {title}
        <p class='card-text font-serif'></p>
        <a class='read-more' href='#'>
          <span class='text'>Leggi di più</span>
          <svg class='icon'><use href={link}></use></svg>
        </a>
      </h3>
    </div>
  </div>
</div>
